.mailchimp-one {
    background-color: #f16101;
    padding: 120px 0;
}

.mailchimp-one .my-auto {
    width: 100%;
}

.mailchimp-one__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mailchimp-one__icon i {
    color: #f16101;
    font-size: 53px;
    margin-left: 10px;
    margin-right: 25px;
    width: 112px;
    height: 112px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
}

.mailchimp-one__icon i:after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.mailchimp-one__icon i:hover:after {
    left: 0;
}

.mailchimp-one__title {
    margin: 0;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -.04em;
}

.mailchimp-one__form {
    position: relative;
}

.mailchimp-one__form input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 77px;
    background-color: #fff;
    color: #81868a;
    font-size: 16px;
    padding-left: 30px;
}

.mailchimp-one__form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #81868a;
}

.mailchimp-one__form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #81868a;
}

.mailchimp-one__form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #81868a;
}

.mailchimp-one__form input:-moz-placeholder {
    /* Firefox 18- */
    color: #81868a;
}

.mailchimp-one__form .thm-btn {
    background-color: #012237;
    color: #fff;
    padding: 0;
    line-height: 77px;
    width: 159px;
    position: absolute;
    top: 0;
    right: 0;
}

.mailchimp-one__form .thm-btn:hover {
    color: #fff;
    background-color: #2da397;
}

.img-email {
    width: 80px;
}

.mailchimp-one {
    padding: 100px !important;
}

.mailchimp-one__icon {
    display: flex !important;
    align-items: center !important;
}

#mc-email {
    width: 100% !important;
}

@media (max-width: 1199px) {
    .mailchimp-one__title {
        font-size: 30px;
    }
}

@media (max-width: 991px) {
    .mailchimp-one__content {
        margin-bottom: 40px;
    }
}

@media (max-width: 375px) {
    .mailchimp-one__content {
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .mailchimp-one__form .thm-btn {
        position: relative;
        margin-top: 15px;
    }

    .mailchimp-one__icon i {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 992px) {
    .mailchimp-one__icon i {
  
      width: 122px !important;
      height: 85px !important;
  
    }
  
    .img-email {
      height: 50px !important;
      width: 59px !important;
    }
  
    .mailchimp-one__form .thm-btn {
      font-size: 14px;
      width: 116px !important;
  
    }
  
    .mailchimp-one__form input {
      font-size: 14px;
    }
  }

  @media(max-width:500px){
    .mailchimp-one__form .thm-btn {
        background-color: #012237;
        color: #fff;
        padding: 0;
        line-height: 77px;
        width: 100% !important;
        position: absolute;
        top: 90px;
        right: 0;
        margin-bottom: 50px;
    }
    .mailchimp-one {
        padding: 70px 50px 180px !important;
    }
  }