@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

.header_1 {
    background-color: #91e71a;
    padding: 10px 0;
}

.link_kalibri {
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}

.link_kalibri:hover {
    color: #fff;
}

.btn_loginR {
    background-color: transparent;
    border: none;
    margin-left: 20px;
    color: #fff;
    font-size: 15px;
}

.header_nav22 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    width: 90%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link_i {
    color: #777;
    font-size: 25px !important;
    margin-right: 30px;
    transition: 0.5s all ease !important;
}

.link_i:hover {
    color: #91e71a;
}

.logo {
    margin: 0;
    font-size: 40px;
    margin-right: 50px;
}

.nav_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_left ul {
    display: flex;
    align-items: center;
    margin: 0;
}

.nr_right {
    display: flex;
    align-items: center;
    margin: 0;
}

.links {
    text-decoration: none;
    margin-left: 50px;
    font-size: 18px;
    color: #777;
    transition: 0.5s all ease;
}

.links:hover {
    color: #91e71a;
}

@media(min-width:1400px) {
    .navbar,
    .header_nav22 {
        width: 1400px;
        margin: 0 auto;
    }
}