.about-two {
  padding: 120px 0;
}

.about-two .block-title {
  margin-bottom: 50px;
}

.about-two__text {
  margin: 0;
  font-size: 18px;
  line-height: 36px;
  color: #81868a;
}

.about-two .thm-btn {
  padding: 21.5px 68px;
}

.about-two .thm-btn:hover {
  background-color: #012237;
  color: #fff;
}

.about-two__single {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.about-two__single-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 45px;
  margin-bottom: 50px;
}

.about-two__single-text {
  color: #012237;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.about-two__single i {
  color: #2da397;
  font-size: 64px;
  margin-right: 14px;
}

.about-two__image {
  display: inline-block;
  border-radius: 50%;
  position: relative;
}

.about-two__image:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 20px solid #fff;
  z-index: 11;
}

.about-two__image:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -20px;
  border: 3px solid #f16101;
  border-radius: 50%;
}

.about-two__image>img {
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.about-two__image-dots {
  width: 175px;
  height: 268px;
  position: absolute;
  top: 0%;
  left: calc(100% - 60px);
  background-image: url(../../images/dot-pattern-1-2.png);
  background-position: 0 0;
  z-index: 10;
}
@media (max-width: 992px){
  .about-two__image-dots{
    display: none;
  }
}
.about-two__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-two__count {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 12;
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
  border-radius: 50%;
  width: 175px;
  height: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}

.about-two__count:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 1px dashed rgba(1, 34, 55, 0.15);
  border-radius: 50%;
}

.about-two__count-text {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 600;
  color: #81868a;
}

.about-two__count span {
  display: block;
  color: #f16101;
  letter-spacing: 0em;
  font-weight: 400;
  font-size: 30px;
}

@media (max-width: 1200px) {
  .about-two__image {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .about-two__image img {
    max-width: 100%;
  }
}